{{> layout/header}}
<div class="container p-5 flex-grow-1">
    <h1>Unauthorized 401</h1>
    <hr>
    <h4>{{msg}}</h4>
    <div class="mb-3">
        <a href="/login-form">로그인</a>
        <a href="/">메인 페이지</a>
    </div>
</div>
{{> layout/footer}}

