{{> layout/header}}
<div class="container p-5 flex-grow-1">
    <h1>Not Found 404</h1>
    <hr>
    <h4>{{msg}}</h4>
    <div class="mb-3">
        <a href="/" class="btn btn-primary">메인 페이지</a>
    </div>
</div>
{{> layout/footer}}

